.score-board-container{
    display: flex;
    justify-content: center;
    
}

.score-board{
    height: 300px;
    width: 500px;
    background-color: rgb(40, 144, 40);
    border-radius: 50px;
    border:5px solid black;
    
    animation: blink 1s linear infinite;
   
}

.score-board-text {
    font-size: 80px;
    color: white; 
    text-align: center;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }